.tooltip {
    position: absolute;
    top: -35px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #33333371;
    color: #fdfdfd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 10;
  }
  